@use "sass:map";

@mixin mq($key) {
	$size: map.get($breakpoints, $key);
	@media (max-width: $size) {
		@content;
	}
}

@mixin pseudo($type) {
	position: relative;

	&::#{$type} {
		position: absolute;
		content: "";
		@content;
	}
}
