$themeOne: (
	"backgrounds": (
		1: hsl(222, 26%, 31%),
		2: hsl(223, 31%, 20%),
		3: hsl(224, 36%, 15%),
	),
	"keys": (
		1: hsl(225, 21%, 49%),
		2: hsl(224, 28%, 35%),
		3: hsl(6, 63%, 50%),
		4: hsl(6, 70%, 34%),
		5: hsl(30, 25%, 89%),
		6: hsl(28, 16%, 65%),
	),
	"text": (
		1: hsl(221, 14%, 31%),
		2: hsl(0, 0, 100%),
	),
);

$themeTwo: (
	"backgrounds": (
		1: hsl(0, 0%, 90%),
		2: hsl(0, 5%, 81%),
		3: hsl(0, 0%, 93%),
	),
	"keys": (
		1: hsl(185, 42%, 37%),
		2: hsl(185, 58%, 25%),
		3: hsl(25, 98%, 40%),
		4: hsl(25, 99%, 27%),
		5: hsl(45, 7%, 89%),
		6: hsl(35, 11%, 61%),
	),
	"text": (
		1: hsl(60, 10%, 19%),
		2: hsl(0, 0, 100%),
	),
);

$themeThree: (
	"backgrounds": (
		1: hsl(268, 75%, 9%),
		2: hsl(268, 71%, 12%),
		3: hsl(268, 71%, 12%),
	),
	"keys": (
		1: hsl(281, 89%, 26%),
		2: hsl(285, 91%, 52%),
		3: hsl(176, 100%, 44%),
		4: hsl(177, 92%, 70%),
		5: hsl(268, 47%, 21%),
		6: hsl(290, 70%, 36%),
	),
	"text": (
		1: hsl(52, 100%, 62%),
		2: hsl(0, 0, 100%),
		3: hsl(198, 20%, 13%),
	),
);

$font-weights: (
	"bold": 700,
);
$font-sizes: (
	"numbers": 2rem,
);
$font-families: (
	"main": Spartan,
);
