.screen {
	background-color: var(--clr-backgrounds-3);
	font-size: var(--fs-numbers);
	color: var(--clr-text-2);
	text-align: right;
	padding: 1em 0.8em;
	height: 7rem;
	margin-bottom: var(--spacing);
	border-radius: 0.25em;
}
